body {
    font-family: "Raleway", sans-serif;
    padding-left: 50px;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 20px;
}

#home {
    text-align: center;
}

span {
    color: white;
}

body.dark {
    background-color: #1f1f1f;
    color: #fff;
}

img {
    width: 250px;
    height: 200px;
}