body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 600px;
    border: 3px solid #43215F;
    padding: 0 2em 1em;
}
h1 {
    color: #43215F;
}
div {
    margin-bottom: 1em;
}
label {
    display: inline-block;
    width: 6em;
}
input {
    margin-left: 1em;
}
#message {
    font-weight: bold;
    color: red;
    text-align: left;
    width: auto;
}
