.movie-quotes{
    width: 100%;
    padding: 0.5rem;
    background-color: var(--accent-color-2);

    blockquote {
        margin: 0;
        padding: 0.5rem;
        border-left: 0.25rem solid var(--accent-color-1);
    font-size: 125%
    }
    p {
        font-size: 90%;
    }
}


